.debugger {
    display: none;
}

.value {
    display: block;
    -webkit-box-flex: 1;
}

.key {
    display: block;
    width: 100%;
    margin-top: 10px;
}


.editPanel {
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-orient:vertical;
}

.main {
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    padding: 10px;
    display: -webkit-box;
    -webkit-box-orient:vertical;
}
body {
    margin: 0;
    padding: 0;
    font-size: 10pt;
}

textarea {
    resize: none;
}
table {
    width: 100%;
}
th {
    text-align: left;
}
.displayedValue {
    white-space: nowrap;
}

.error {
    color:red;
}

.valueKey {
    color:black;
    white-space: nowrap;
    font-weight: bold;
}

.string {
    color:green;
}
.quote {
    color:green;
}

.number {
    color:maroon;
}

.list {
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    padding-left: 15px;
}

.controls .btn {
    width: 80px;
}
.controls {
    margin-top: 5px;
}
.header .nav li{
    cursor: pointer;
}
.usage {
    font-size: 10px;
}

