<!DOCTYPE html>
<html ng-csp ng-app="storageExplorer">
<head>
    <title></title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap/css/bootstrap.css">
    <script src="../components/jquery/jquery.js"></script>
    <script src="../css/bootstrap/js/bootstrap.js"></script>
    <script src="../components/angular/angular.js"></script>
    <script src="../app.js"></script>
    <script src="../services/prettyJson.js"></script>
    <script src="../services/storage.js"></script>
    <script src="../services/appContext.js"></script>
    <script src="../services/clipboard.js"></script>
    <script src="../filters/prettyBytes.js"></script>
    <script src="../controllers.js"></script>
    <script src="../directives/entryValue.js"></script>


</head>
<body>

<div ng-controller="StorageCtrl" class="main">
    <div class="header">
        <ul class="nav nav-tabs">
            <li ng-class="{active:currentType == 'local'}" ng-click="currentType = 'local'"><a>Local Storage Area

                <div class="usage" ng-show="stats.local.bytesInUse > 0">{{stats.local.bytesInUse |
                    prettyBytes}} / {{meta.local.QUOTA_BYTES | prettyBytes}}
                </div>
                <div class="usage" ng-show="stats.local.bytesInUse == 0">
                    area is empty
                </div>
            </a></li>
            <li ng-class="{active:currentType == 'sync'}" ng-click="currentType = 'sync'"><a>Synchronous Storage
                Area
                <div class="usage" ng-show="stats.sync.bytesInUse > 0">{{stats.sync.bytesInUse |
                    prettyBytes}} / {{meta.sync.QUOTA_BYTES | prettyBytes}}, {{stats.sync.count}} /
                    {{meta.sync.MAX_ITEMS}} items
                </div>
                <div class="usage" ng-show="stats.sync.bytesInUse == 0">
                    area is empty
                </div>
            </a></li>
        </ul>

    </div>
    <div class="alert alert-danger" ng-show="importError">
        <button type="button" class="close" ng-click="importError = null">&times;</button>
        <strong>Import <span ng-show="importError.file"> from file {{importError.file}}</span><span ng-show="!importError.file">from clipboard </span> failed</strong><br>
        {{importError.message}}<br>
        <strong>{{importError.type}} contents</strong>
        <pre>
            {{importError.content}}
        </pre>

    </div>
    <div ng-show="mode == 'list'" class="list">
        <div class="controls">
            <button class="btn btn-primary btn-sm" ng-click="add()">Add Item</button>
            <button class="btn btn-warning btn-sm" ng-click="clear()" ng-show="itemCount > 0">Clear</button>
            <div class="btn-group" ng-show="itemCount > 0">
                <button class="btn btn-info dropdown-toggle btn-sm" data-toggle="dropdown">Export <span
                        class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" ng-click="export()"><span class="glyphicon glyphicon-download"></span> To File</a>
                    </li>
                    <li><a href="#" ng-click="exportClipboard()"><span class="glyphicon glyphicon-export"></span> To
                        Clipboard</a></li>
                </ul>

            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle btn-sm" data-toggle="dropdown">
                    Import <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" ng-click="import()">From File</a></li>
                    <li><a href="#" ng-click="importClipboard()">From Clipboard</a></li>
                </ul>
            </div>
            <div ng-show="fileImport">
                <input type="file" id="fileImport"/>
            </div>
        </div>


        <table ng-show="itemCount > 0" class="table table-striped table-hover">
            <thead>
            <tr>
                <th style="width: 20em">
                    Key
                </th>
                <th style="width:100%">Value</th>
                <th style="width:100px"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(name, value) in results">
                <td><span class="valueKey">{{name}}</span>

                    <div class="usage"> {{sizeMap[name] | prettyBytes}}
                        <span ng-show="currentType == 'sync'"> / {{meta.sync.QUOTA_BYTES_PER_ITEM | prettyBytes}}</span>
                    </div>
                </td>
                <td class="displayedValue">

                    <entry-value class="displayedValue" value="value"/>
                </td>
                <td style="white-space: nowrap">

                    <button class="btn btn-default btn-xs" ng-click="edit(name,value)"><span
                            class="glyphicon glyphicon-edit"></span></button>
                    <button class="btn btn-danger btn-xs" ng-click="delete(name)"><span
                            class="glyphicon glyphicon-remove-circle"></span></button>
                </td>
            </tr>
            </tbody>
        </table>
        <div ng-show="itemCount == 0">
            <h3>Storage Area is empty</h3>
        </div>

    </div>

    <div ng-show="mode == 'edit' || mode == 'add'" class="editPanel" style="padding-left: 15px">

        <input id="key" class="key form-control" type="text" ng-model="key" placeholder="Name Of Key">

        <span class="text-info" ng-show="!validation">Value in JSON format e.g. all the strings should be enclosed in double quotes: "example"</span>
        <span class="text-warning"
              ng-show="validation">Value is not valid JSON: {{validation}}</span>

        <textarea id="value" class="value form-control" ng-model="value" placeholder='Value '>

        </textarea>

        <div class="controls">
            <button class="btn btn-primary btn-sm" ng-click="save()">Save</button>
            <button class="btn btn-danger btn-sm" ng-click="cancel()">Cancel</button>
        </div>


    </div>

    <div class="debugger">
        <div id="display"></div>
    </div>
</div>


</body>
</html>